@model IEnumerable<Pin_Projekt_N.Models.Artikl>

@{
    ViewData["Title"] = "Ducan";
}

<h1>Dučan</h1>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <label>@ViewBag.Notification</label>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cijena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opis)
                </td>
                <td>
                    <a asp-action="Kosarica" asp-route-id="@item.Id">Kupi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
